@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image::before {
    background-image: url("assets/image-bg.png");
  }
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
